.homeContainer{
    height: 95vh;
    display: flex;
    gap: 10px;

}


.homeListOfChats{
    height: 100%;
    width: 30%;
    background-color: #4caf50;

}

.homeCurrentChat{
    height: 100%;
    width: 70%;
    background-color: #4caf50;
}